<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.pojo.Order">
    <id column="odr_id" jdbcType="INTEGER" property="odrId" />
    <result column="odr_customer_no" jdbcType="CHAR" property="odrCustomerNo" />
    <result column="odr_date" jdbcType="TIMESTAMP" property="odrDate" />
    <result column="odr_addr" jdbcType="VARCHAR" property="odrAddr" />
    <result column="odr_status" jdbcType="CHAR" property="odrStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    odr_id, odr_customer_no, odr_date, odr_addr, odr_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where odr_id = #{odrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where odr_id = #{odrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.pojo.Order">
    insert into orders (odr_id, odr_customer_no, odr_date, 
      odr_addr, odr_status)
    values (#{odrId,jdbcType=INTEGER}, #{odrCustomerNo,jdbcType=CHAR}, #{odrDate,jdbcType=TIMESTAMP}, 
      #{odrAddr,jdbcType=VARCHAR}, #{odrStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.pojo.Order">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="odrId != null">
        odr_id,
      </if>
      <if test="odrCustomerNo != null">
        odr_customer_no,
      </if>
      <if test="odrDate != null">
        odr_date,
      </if>
      <if test="odrAddr != null">
        odr_addr,
      </if>
      <if test="odrStatus != null">
        odr_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="odrId != null">
        #{odrId,jdbcType=INTEGER},
      </if>
      <if test="odrCustomerNo != null">
        #{odrCustomerNo,jdbcType=CHAR},
      </if>
      <if test="odrDate != null">
        #{odrDate,jdbcType=TIMESTAMP},
      </if>
      <if test="odrAddr != null">
        #{odrAddr,jdbcType=VARCHAR},
      </if>
      <if test="odrStatus != null">
        #{odrStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.pojo.Order">
    update orders
    <set>
      <if test="odrCustomerNo != null">
        odr_customer_no = #{odrCustomerNo,jdbcType=CHAR},
      </if>
      <if test="odrDate != null">
        odr_date = #{odrDate,jdbcType=TIMESTAMP},
      </if>
      <if test="odrAddr != null">
        odr_addr = #{odrAddr,jdbcType=VARCHAR},
      </if>
      <if test="odrStatus != null">
        odr_status = #{odrStatus,jdbcType=CHAR},
      </if>
    </set>
    where odr_id = #{odrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.pojo.Order">
    update orders
    set odr_customer_no = #{odrCustomerNo,jdbcType=CHAR},
      odr_date = #{odrDate,jdbcType=TIMESTAMP},
      odr_addr = #{odrAddr,jdbcType=VARCHAR},
      odr_status = #{odrStatus,jdbcType=CHAR}
    where odr_id = #{odrId,jdbcType=INTEGER}
  </update>
  
  <select id="findAllOders" resultMap="BaseResultMap">
  	select * from orders
  </select>
  
  
  <select id="findOrder" parameterType="com.qianfeng.pojo.Order" resultMap="BaseResultMap">
  	select * from orders 
  	<where>
  		<if test="odrCustomerNo != null">
  			and odr_customer_no = #{odrCustomerNo}
  		</if>
  		<if test="odrStatus != null">
  			and odr_status = #{odrStatus}
  		</if>
  	</where>
  </select>
</mapper>